<%if(success && success.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show col-12 col-md-6 offset-md-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>


<%if(error && error.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show col-12 col-md-6 offset-md-3" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>