<%- layout("layouts/boilerplate.ejs")%>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
         <!-- <svg xmlns="http://www.w3.org/2000/svg" class="bi flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:"></svg> -->
        <h4 class="alert-heading"><%= message%></h4>
        <p></p>
    </div>
</div>
