<% layout("layouts/boilerplate.ejs")-%>
<div class="row">
    <div class="col-md-8 col-10 offset-1 offset-md-2">
        <br><br>
        <h3>Create new Listing</h3>
        <form action="/listings" class="needs-validation" novalidate method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" id="title" placeholder="Add a Catchy Title" class="form-control" required>
                <div class="valid-feedback">
                    Title looks good!
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="description" placeholder="Description" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please enter a short description
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input type="file" name="listing[image]" id="image" placeholder="Image URL" class="form-control" required>
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" type="number" id="price" placeholder="1200" class="form-control" required>
                    <div class="invalid-feedback">
                        Price should be valid
                    </div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="category" class="form-label">Country</label>
                    <input type="text" name="listing[country]" id="country" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">
                        Country should be valid
                    </div>
                </div>
            </div>
            

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" id="location" placeholder="Jaipur, Rajasthan" class="form-control" required>
                <div class="invalid-feedback">
                        Location should be valid
                </div>
            </div>

            <br>
            <button type="submit" class="btn btn-dark add-btn">Add</button><br><br>
        </form>
    </div>
</div>